#scanner-container {
    background-color: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    text-align: center;
    width: 20px;
    height: 20px;
}

h1 {
    margin-top: 0;
    color: #007bff;
}

#video-container {
    position: relative;
    width: 100px;
    padding-top: 75%; /* Aspect ratio 4:3 */
    border: 2px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 15px;
}

#video {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    object-fit: cover;
}

#status {
    font-size: 0.9em;
    color: #666;
    margin-bottom: 15px;
}

#result {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1em;
    box-sizing: border-box; /* Agar padding tidak menambah lebar */
    text-align: center;

}
